<section class="step-wizard">
  <ul class="step-wizard-list">
    <li class="step-wizard-item">
      <span class="progress-count">1</span>
      <span class="progress-label"> Solicitação de Agendamento</span>
    </li>
    <li class="step-wizard-item ">
      <span class="progress-count">2</span>
      <span class="progress-label">Validação de Dados</span>
    </li>
    <li class="step-wizard-item current-item">
      <span class="progress-count">3</span>
      <span class="progress-label">Aguardando Confirmação</span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">4</span>
      <span class="progress-label">Solicitação Agendada</span>
    </li>
  </ul>
</section>
