<!DOCTYPE html>
<html lang="en">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Sobre nós</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <!-- awesome fontfamily -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout inner_page">
<!-- loader  -->
<div class="loader_bg">
  <div class="loader"><img src="../../../../assets/images/loading.gif" alt=""/></div>
</div>
<!-- end loader -->
<div class="card flex justify-content-center sidepanel">
  <p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="content">
      <a routerLink="/pagina-inicial">Início</a>
      <a class="active" routerLink="/sobre">Sobre a plataforma</a>
      <a routerLink="/servicos">Serviços e coberturas</a>
      <a routerLink="/login">Entrar</a>
      <a routerLink="/solicitacao">Solicitar Agendamento</a>
      <a routerLink="/status">Status do Agendamento</a>
      <a routerLink="/contato">Contato</a>
    </ng-template>
  </p-sidebar>
</div>
<!-- header -->
<header>
  <!-- header inner -->
  <div class="head-top">
    <div class="container-fluid">
      <div class="row d_flex">
        <div class="col-sm-3">
          <div class="logo">
            <a href="../../../../index.html"><img src="../../../../assets/images/logo.png"/></a>
          </div>
        </div>
        <div class="col-sm-9">
          <ul class="email text_align_right">
            <li class="d_none"><a href="javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i>
              Entrar</a>
            </li>
            <li class="d_none"><a href="javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i>
              Criar conta</a>
            </li>
            <li>
              <p-button class="custom-button" (click)="sidebarVisible = true"><img
                src="../../../../assets/images/menu_btn.png"></p-button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
<!-- about -->
<div class="card">
  <p-toast></p-toast>
</div>

<div class="center">
  <h1>Selecione uma data</h1>

  <div class="mb-4">
    <div class="inline-block mr-4">
      <p-calendar [(ngModel)]="dataSolicitada" [showIcon]="true"></p-calendar>
    </div>

    <div *ngIf="dataSolicitada" class="inline-block">
      <p-dropdown (onChange)="habilitarBotaoSolicitacao()" [options]="horasDisponiveis" [(ngModel)]="horaSelecionada"
                  optionLabel="hora"></p-dropdown>
    </div>
  </div>


  <div>
    <p-button (onClick)="confirmarData()" [disabled]="isBotaoDesabilitado">Confimar Data</p-button>
  </div>
</div>

<p-dialog header="Confirme a seguinte data" [(visible)]="showDialog" [modal]="true" [style]="{ width: '50vw' }"
          [draggable]="false" [resizable]="false">
  <p class="m-0 mb-4">
    {{myFormattedDate}}
  </p>

  <p-button (onClick)="solicitarAgendamento()" [disabled]="isBotaoDesabilitado">Solicitar Agendamento</p-button>
</p-dialog>
<!-- end about -->
<!-- footer -->
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a class="logo_footer"><img src="../../../../assets/images/logo.png" alt="#"/></a>
        </div>
        <div class="col-md-4">
          <h3 style="color: azure;">Nos siga nas redes sociais</h3>
          <ul class="social_icon text_align_center">
            <li><a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="Javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
            <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright text_align_center">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <p>© 2023 Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>

