/* You can add global styles to this file, and also import other style files */


:host ::ng-deep .p-element .custom-button .p-ripple .p-element .p-button .p-component{
  border: none !important;
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep button .p-button {
  color: red !important;
}
